body{
    background-image: url("/leandra-rieger-gP0m3wqkehA-unsplash.jpg");
    background-size:cover;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px
}
h1, h2{
    color: #ff7abc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;

}
ol{
    background-color: #ff93c9;
    color: white;
    text-align: center;
    font-size: 40px;
}
h1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Phoenicopterus_roseus%2C_Lido_de_Thau_cf06.jpg);
}